*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/filmsSearch/utils/ApiKey.kt
/ViewBinding.git/hooks/applypatch-msg.sample
/ViewBinding.git/hooks/commit-msg.sample
/ViewBinding.git/config
/ViewBinding.git/description
/ViewBinding.git/info/exclude
/ViewBinding.git/hooks/fsmonitor-watchman.sample
/ViewBinding.git/HEAD
/ViewBinding.git/objects/pack/pack-2c3a370691f625571578ea45e9d1286a476cf52d.idx
/ViewBinding.git/objects/pack/pack-2c3a370691f625571578ea45e9d1286a476cf52d.pack
/ViewBinding.git/packed-refs
/ViewBinding.git/hooks/post-update.sample
/ViewBinding.git/hooks/pre-applypatch.sample
/ViewBinding.git/hooks/pre-commit.sample
/ViewBinding.git/hooks/pre-merge-commit.sample
/ViewBinding.git/hooks/pre-push.sample
/ViewBinding.git/hooks/pre-rebase.sample
/ViewBinding.git/hooks/pre-receive.sample
/ViewBinding.git/hooks/prepare-commit-msg.sample
/ViewBinding.git/hooks/push-to-checkout.sample
/ViewBinding.git/hooks/update.sample
